.note-card {
  background: var(--ion-card-background);
  padding: 16px;
  border-radius: 16px;
  border: 1px solid rgba(0,0,0,0.05);
}

.note-title {
  margin-top: 0;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--ion-color-primary);
  margin-bottom: 8px;
}

.note-content {
  margin-bottom: 0;
  line-height: 1.5;
  color: var(--ion-color-medium-shade);
}

@media (prefers-color-scheme: dark) {
  .note-card {
    border: 1px solid rgba(255,255,255,0.05);
  }
}
