<ion-modal [isOpen]="isOpen" (didDismiss)="close()" [initialBreakpoint]="0.75" [breakpoints]="[0, 0.75, 1]">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Quick Phrases</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="close()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list lines="none">
        <ion-item *ngFor="let item of essentials" (click)="selectPhrase(item)" button detail="false" class="phrase-item" [class.locked]="item.isPro && !isProUser">
          <ion-label>
            <h2>
              <ion-icon *ngIf="item.isPro && !isProUser" name="lock-closed" style="vertical-align: middle; margin-right: 4px; font-size: 0.9em; color: var(--ion-color-medium);"></ion-icon>
              {{ item.english }}
            </h2>
            <p *ngIf="item.translation" class="native-text">{{ item.translation.text }}</p>
            <p *ngIf="item.translation" class="phonetic-text">{{ item.translation.phonetic }}</p>
          </ion-label>
          <ion-icon name="chevron-forward" slot="end" color="medium" *ngIf="!item.isPro || isProUser"></ion-icon>
          <ion-icon name="lock-closed" slot="end" color="medium" *ngIf="item.isPro && !isProUser"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
