/* =========================================
   LAYOUT & GRID
   ========================================= */

ion-grid {
  padding-inline: 10px;
}

ion-col {
  padding: 8px;
}

/* Add extra space at the bottom so vertical scroll never feels stuck */
.spacer-bottom {
  height: 100px;
  width: 100%;
}

