/* =========================================
   LAYOUT & GRID
   ========================================= */

ion-grid {
  padding-inline: 10px;
}

ion-col {
  padding: 8px;
}

/* Add extra space at the bottom so vertical scroll never feels stuck */
.spacer-bottom {
  height: 100px;
  width: 100%;
}


.upgrade-cta {
  --background: #FFD700;
  --background-hover: #FFC107;
  --background-activated: #FFB300;
  --color: #000000;
  --border-radius: 16px;
  --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  font-weight: 800;
  height: 48px;
  letter-spacing: 1px;
  margin: 0;

  ion-icon {
    font-size: 20px;
    margin-right: 8px;
  }
}
