<div class="ion-padding-start ion-padding-end">
  <p class="section-label">1. Start Sentence</p>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="6" size-md="4" *ngFor="let starter of starters">
        <button
          class="builder-btn"
          [class.active]="selectedStarter?.id === starter.id"
          [class.locked]="starter.isPro && !isProUser"
          (click)="onSelectStarter(starter)">
          <ion-icon *ngIf="starter.isPro && !isProUser" name="lock-closed" class="lock-icon"></ion-icon>
          {{ starter.english }}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<div class="ion-padding-start ion-padding-end ion-margin-top" *ngIf="selectedStarter" id="complete-phrase-section">

  <p class="section-label">2. Complete Phrase</p>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="6" size-md="4" *ngFor="let noun of visibleNouns">
        <button
          class="builder-btn"
          [class.active]="selectedNoun?.id === noun.id"
          [class.locked]="noun.isPro && !isProUser"
          (click)="onSelectNoun(noun)">
          <ion-icon *ngIf="noun.isPro && !isProUser" name="lock-closed" class="lock-icon"></ion-icon>
          {{ noun.english }}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-padding-bottom ion-margin-bottom"></div>
</div>
